p{
    color:grey;
    font-family: cursive;

}
h1{
    text-align: center;
    color:blue
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;
}
h4{
    font-size: small;
    color:aquamarine
}